<header class="comic-header">
    <ul>
        <li><a href="/">First demo</a></li>
        <li><a href="/demo2">second demo</a></li>
        {{!-- <li><a href="/demo3">Third demo</a></li> --}}
    </ul>
</header>