<header class="header">
  <div class="head-wrapper">
    <h2>The perfect <b>Body Language</b> chat for Eric</h2>
    <div class="emotion-picker">
      <label for="comic">Comic
        <input type="radio" id="comic" name="picker" value="comic">
      </label>

      <label for="normal">Normal
        <input type="radio" id="normal" name="picker" value="normal" checked>
      </label>
    </div>
  </div>
</header>