@font-face {
  font-family: "DND-font-text";
  src: url("/fonts/DUNGRG__.TTF");
}

body {
  background-color: #fff9f1;
  font-family: "DND-font-text", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5sem;
  background-image: url("/images/page-background.jpeg");
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

#background-image {
  position: fixed;
  bottom: -20px;
  left: -65px;
  width: 100%;
  height: 76%;
  z-index: -100;
}

#background-image:before {
  content: "";
  background: url("../images/second-background.png");
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;
}

#background-image:after {
  content: "";
  background: url("/images/page-background.jpeg");
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

main {
  width: 60%;
  margin-left: 6em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}

header {
  z-index: 501;
  padding: 1.5em 0em;
  width: 100%;
  font-size: 1.3em;
  color: white;
  background-color: #dbbb95;
  top: 0;
  position: sticky;
}

.header > h2 {
  margin: 0;
  text-transform: uppercase;
  padding-left: 2.5em;
}

form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  margin-left: 6em;
  display: flex;
  flex-wrap: wrap;
  background-color: #dbbb95;
}

fieldset {
  border: 0;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + label {
  display: inline-block;
  border: 1px solid #937341;
  padding: 0.5em 0.6em;
  margin: 0.5em;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  border: 1px solid #fff;
}

legend {
  padding: 1em;
}

input[type="text"] {
  font-family: "DND-font-text", sans-serif;
  font-size: 1.2em;
  width: 80%;
  margin-right: 0.5em;
  padding: 1em 1em;
  text-align: left;
}

.message-box-wrapper {
  margin: 1em;
  display: flex;
  width: 100%;
}

.color-legenda {
  position: fixed;
  right: 0%;
  top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.color-legenda label {
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-legenda label input {
  margin: 0.5em 5em;
}

button {
  font-family: "DND-font-text", sans-serif;
  font-size: 1.5em;
  width: 20%;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

#message-output-list,
#feedback-output {
  padding: 2em 1.5em 13em;
}

.message-output {
  padding: 0.1em 1em;
  width: 50%;
  border-radius: 0.5em;
  margin: 1em;
  background-color: white;
  color: black;
  text-align: left;
}

#message-output-list > p {
  color: blue;
  margin-top: -1em;
  padding: 0.1em 1.8em;
  opacity: 0.6;
  font-style: italic;
}

ul {
  position: fixed;
  right: 5%;
  bottom: 5%;
  display: flex;
  list-style-type: none;
}

li {
  font-size: 1.5em;
  border: 1px solid;
  padding: 0.5em;
  cursor: pointer;
}

li > a {
  color: #000;
  text-decoration: none;
}

#feedback-output {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -8%;
}

#new-feedback {
  padding: 1em;
  width: fit-content;
  border-radius: 1em;
  margin: 1em;
  margin: 0 auto;
  color: white;
  text-align: right;
}

.join {
  background-color: #d8b9c3;
  margin-left: auto;
}

.join > p {
  color: Black;
}

.disconnect {
  background-color: #f1f3f4;
  margin-left: auto;
  opacity: 0.7;
}

.disconnect > p {
  color: black;
  opacity: 0.5;
}

.own-message {
  /* background-color: #363062; */
  margin-left: auto;
}

.own-message > p {
  color: black;
}

.their-message {
  background-color: #4d4c7d;
}

.their-message > p {
  color: white;
}

.connect {
  background-color: #4d4c7d;
}

.connect > p {
  color: white;
}

.happy {
  background-color: #fce205;
}

.angry {
  background-color: #b80f0a;
  color: #fff;
}

.excitement {
  background-color: #f9a602;
}

.desire {
  background-color: #fe5bac;
}

.neutral {
  background-color: #d9cca8;
  color: #fff;
}

.sad {
  background-color: #95c8d8;
}

.fear {
  background-color: #311432;
  color: #fff;
}

.disgust {
  background-color: #0b6623;
}

.confused {
  background-color: #48494b;
  color: #fff;
}
